@import "~bootstrap/scss/bootstrap";

.form {
    padding-top: 100px;
}

.formGroup {
    margin-bottom: 20px;
}

.input {
    &:invalid, &:valid {
        background-image: none !important;
    }

    &:valid {
        border-color: $gray-400 !important;
    }
}

.title {
    margin-bottom: 10px;
}

.subtitle {
    margin: 40px 0 30px 0;
}

.labelTitle {
    margin-bottom: 5px;
}

.labelTitle, .fileUpload label, .radio, .genderError {
    font-size: 14px;
    line-height: 21px;
}

.genderError {
    margin-left: 5px;
}

.fileUpload {
    input[type="file"] {
        display: none;
    }

    label {
        background-color: #f3f3f3;
        border: 1px dashed #d4d4d4;
        color: #616161;
        padding: 10px;
        position: relative;
        text-align: center;
        width: 100%;

        &:before {
            content: "+";
            color: #8e8e8e;
            font-size: 32px;
            position: absolute;
            top: 6px;
            left: 10px;
        }
    }
}

.fileUploadContainer {
    margin-top: 9px;
}

.radio {
    a {
        text-decoration: underline;
    }

    input:invalid ~ label, input:valid ~ label{
        color: inherit !important;
    }
}

.submitBtn {
    margin: 30px 0;

    &:disabled {
        background-color: #e5e5e5;
        border-color: #d4d4d4;
        color: #b4b4b4;
    }
}

.file {
    background-color: #e5f5fe;
    color: #359ff9;
    cursor: pointer;
    font-size: 12px;
    line-height: 18px;
    padding: 2px 30px;
    position: relative;

    &:before {
        content: "";
        background: url(../../img/icons/paperclip.svg) no-repeat;
        background-size: cover;
        display: inline-block;
        position: absolute;
        top: 5px;
        left: 6px;
        width: 12px;
        height: 12px;
        opacity: 0.5;
        transform: rotate(180deg);
    }

    button {
        color: #818181 !important;
        padding: 0 !important;
        top: -3px !important;
        right: 5px !important;

        &:hover, &:focus {
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }
}

@include media-breakpoint-up(md) {
    .form {
        max-width: 600px;
        margin: 0 auto;
    }

    .formGroup {
        margin-bottom: 40px;
    }

    .row {
        margin-right: -40px;
        margin-left: -40px;
    }
    
    .column {
        padding-right: 40px;
        padding-left: 40px;
    }

    .fileUpload label {
        padding: 8px;
    }

    .fileUploadContainer {
        margin-top: 27px;
    }
}